# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
/[Aa]ssets/[Aa]ssets/
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/

# Unity-generated IDE files
*.csproj

# Go build output
Harness~/dffrnt-agent/dffrnt-agent
Harness~/dffrnt-agent/dffrnt-agent.exe
